################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSUSAPP_BE/CSUSAPP/bin/Debug/net8.0
/CSUSAPP_BE/CSUSAPP/obj

/CSUSAPP_BE/CSUSAPP.Common/bin/Debug/net8.0
/CSUSAPP_BE/CSUSAPP.Common/obj

/CSUSAPP_BE/CSUSAPP.DataAccess/bin/Debug/net8.0
/CSUSAPP_BE/CSUSAPP.DataAccess/obj

/CSUSAPP_BE/CSUSAPP.Services/bin/Debug/net8.0
/CSUSAPP_BE/CSUSAPP.Services/obj



/CSUSAPP_BE/CSUSAPP.Common/bin/Debug/net8.0/CSUSAPP.Common.dll
/CSUSAPP_BE/CSUSAPP.Common/bin/Debug/net8.0/CSUSAPP.Common.pdb
/CSUSAPP_BE/CSUSAPP.DataAccess/bin/Debug/net8.0/CSUSAPP.DataAccess.dll
/CSUSAPP_BE/CSUSAPP.DataAccess/bin/Debug/net8.0/CSUSAPP.DataAccess.pdb
/CSUSAPP_BE/CSUSAPP.Services/bin/Debug/net8.0/CSUSAPP.Common.dll
/CSUSAPP_BE/CSUSAPP.Services/bin/Debug/net8.0/CSUSAPP.Common.pdb
/CSUSAPP_BE/CSUSAPP.Services/bin/Debug/net8.0/CSUSAPP.DataAccess.dll
/CSUSAPP_BE/CSUSAPP.Services/bin/Debug/net8.0/CSUSAPP.DataAccess.pdb
/CSUSAPP_BE/CSUSAPP.Services/bin/Debug/net8.0/CSUSAPP.Services.dll
/CSUSAPP_BE/CSUSAPP.Services/bin/Debug/net8.0/CSUSAPP.Services.pdb
/CSUSAPP_BE/CSUSAPP.Services/obj/Debug/net8.0/ref/CSUSAPP.Services.dll
/CSUSAPP_BE/CSUSAPP.Services/obj/Debug/net8.0/refint/CSUSAPP.Services.dll
/CSUSAPP_BE/CSUSAPP.Services/obj/Debug/net8.0/CSUSAPP.Services.AssemblyInfo.cs
/CSUSAPP_BE/CSUSAPP.Services/obj/Debug/net8.0/CSUSAPP.Services.AssemblyInfoInputs.cache
/CSUSAPP_BE/CSUSAPP.Services/obj/Debug/net8.0/CSUSAPP.Services.assets.cache
/CSUSAPP_BE/CSUSAPP.Services/obj/Debug/net8.0/CSUSAPP.Services.csproj.AssemblyReference.cache
/CSUSAPP_BE/CSUSAPP.Services/obj/Debug/net8.0/CSUSAPP.Services.csproj.CoreCompileInputs.cache
/CSUSAPP_BE/CSUSAPP.Services/obj/Debug/net8.0/CSUSAPP.Services.csproj.FileListAbsolute.txt
/CSUSAPP_BE/CSUSAPP.Services/obj/Debug/net8.0/CSUSAPP.Services.dll
/CSUSAPP_BE/CSUSAPP.Services/obj/Debug/net8.0/CSUSAPP.Services.GeneratedMSBuildEditorConfig.editorconfig
/CSUSAPP_BE/CSUSAPP.Services/obj/Debug/net8.0/CSUSAPP.Services.genruntimeconfig.cache
/CSUSAPP_BE/CSUSAPP.Services/obj/Debug/net8.0/CSUSAPP.Services.pdb
/CSUSAPP_BE/CSUSAPP.Services/obj/CSUSAPP.Services.csproj.nuget.dgspec.json
/CSUSAPP_BE/CSUSAPP.DataAccess/obj/CSUSAPP.DataAccess.csproj.nuget.dgspec.json
/CSUSAPP_BE/CSUSAPP.DataAccess/obj/project.assets.json
/CSUSAPP_BE/CSUSAPP.DataAccess/obj/project.nuget.cache
/CSUSAPP_BE/CSUSAPP.Services/obj/project.assets.json
